body{
    background: #0a1727;
    background-size: cover;
}
.mr-sm-2{
  
    width: 220px;
    height: 40px;
    
}
.btn-outline-success{
    color:#ffffff;
    font: 135% sans-serif;
    font-weight: 700;
    background-color: #0c2e55;
    box-shadow: 0px 0px 3px #0c2e55;
    border:  #0c2e55;
}
.container{
    top:20px;
    left:20px;
    color:#ffffff;
    width: 360px;
    height: 472px;
    overflow-y: scroll;
    
}
.btn-group{
    width: 360px;
    height: 360xp;
    background-color: #0c2e55;
    box-shadow: 0px 0px 3px #0c2e55;
    
}
.btn-primary{
    width: 360px;
    height: 80px;
    font: 150% sans-serif;
    font-weight: 700;
    background-color: #0c2e55;
    box-shadow: 0px 0px 3px #0c2e55;
    border:  #0c2e55;
}