{% load static %}
<nav class="navbar navbar-dark text-light bg-dark d-flex justify-content-center">
    <form class=" form-inline">
        <div class="input-group ">
            <div class="input-group-prepend">

                <a href="{% url 'login' %}"><span class="input-group-text bg-warning text-light  font-weight-bold"
                    id="basic-addon1"><svg width="1.48em" height="1.48em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                      </svg></span></a>

                <a href="{% url 'inicio_peliculas' %}"><span class="input-group-text bg-warning text-light  font-weight-bold"
                        id="basic-addon1"><svg width="1.48em" height="1.48em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                          </svg></span></a>

                <a href="{% url 'inicio_favorito' %}"><span class="input-group-text bg-warning text-light  font-weight-bold"
                        id="basic-addon1"><svg width="1.48em" height="1.48em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg></span></a>



            </div>
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                aria-describedby="basic-addon1">

            <div class="input-group-append bg-warning">
                <button type="button" class="btn btn-outline-secondary">Opciones</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu bg-warning text-light">
                    <a class="dropdown-item text-light font-italic font-weight-bold" 
                        href="/pelicula">Peliculas</a>
                    
                    <a class="dropdown-item text-light font-italic font-weight-bold" href="/favorito">Favoritos</a>
                    <a class="dropdown-item text-light font-italic font-weight-bold" href="/historial">Historial</a>
                    <div role="separator text-light" class="dropdown-divider"></div>
                    <a class="dropdown-item text-light font-italic font-weight-bold" href="/usuario">Perfil usuario</a>
                    <div role="separator text-light" class="dropdown-divider"></div>
                    <a class="dropdown-item text-light font-italic font-weight-bold" href="/admin">Administracion</a>
                </div>
            </div>

        </div>
    </form>
</nav>




<!-- menu vertical Sidenav -->
