{% extends 'base.html' %}

{% block main %}
<h1>Peliculas</h1>
    <div>
        <h3>Datos<span>Peliculas</span> </h3>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Accusantium vitae 
            aliquam eveniet iure aspernatur amet
             fuga facere ducimus assumenda, deleniti 
             odio, recusandae ab nihil, et iusto?
             Cumque minima alias officia.
        </p>
        <ul>
            <li>
                Inicio
            </li>
            <li>
                Consulta
            </li>
        </ul>
        <button class="btn btn-primary"> Enviar</button>
    </div>
    <img src="/static/imagenes/avenger1.jpg">
{% endblock %}